@media (min-width: 769px) {
    body {
        background: #f7e3ee;
    }
}
@media (max-width: 1024px) {
    body {
        background: #ddd01ba1;
    }
}
li {
    display: none;
}

.container {
    display: flex;
    gap: 1rem;
}

button {
    display: none;
}